{#<div class="row">#}
{#    <div class="col-8">#}
{#        Cartes de l'adversaire#}
{#        {% for card in adversaire.handCards %}#}
{#            #}{# <img src="{{ asset('cartes/'~cards[card].picture) }}"> #}
{#            <span style="border: 1px solid black; margin:3px; padding:5px">#}
{#                {{ cards[card].number }}#}
{#            </span>#}
{#        {% endfor %}#}
{#    </div>#}
{#    <div class="col-4">#}
{#        Actions#}
{#    </div>#}
{#</div>#}
{#<div class="row">#}
{#    Plateau adversaire#}
{#</div>#}
{#<div class="row">#}
{#    {% for i in 1..7 %}#}
{#        <div class="col-1">#}
{#                <span style="border: 1px solid black; margin:3px; padding:5px">#}
{#                    EMPL{{ i }}#}
{#                </span>#}
{#        </div>#}
{#    {% endfor %}#}

{#</div>#}
{#<div class="row">#}
{#    Mon Plateau#}
{#</div>#}
{#<div class="row">#}
{#    <div class="col-8">#}
{#        {% for card in moi.handCards %}#}
{#            #}{# <img src="{{ asset('cartes/'~cards[card].picture) }}"> #}
{#            <span style="border: 1px solid black; margin:3px; padding:5px">#}
{#                {{ cards[card].number }}#}
{#                    <input type="radio" name="carte_secret" value="{{ card }}"#}
{#                           style="display: none"#}
{#                           class="choixSecret">#}
{#                </span>#}
{#        {% endfor %}#}
{#    </div>#}
{#    <div class="col-4">#}
{#        Mes Actions#}
{#        <button class="action button" id="secret">Secret</button>#}
{#        <button class="action button" id="depot">Depot</button>#}
{#        <button class="action button" id="offre">Offre</button>#}
{#        <button  class="action button" id="echange">Echange</button><br>#}
{#        <button id="valider" style="display: none">Valider action</button>#}
{#        <button id="finDeTour" >Fin du tour</button>#}
{#    </div>#}


    <section id="jeu-plateau">
        <div class="jeu-plateau-section" id="jeu-plateau-top">
            <div id="jeu-info">
                <p class="jeu-info-txt">La partie débute ! À l'abordage !</p>
            </div>
            <div class="jeu-main" id="jeu-main-adv">
                {% for card in adversaire.handCards %}
                 <img class="jeu-carte" src="{{ asset('assets/image/carte-dos.png') }}">

                {% endfor %}
{#                <img src="img/carte-dos.png" alt="" class="jeu-carte">#}
{#                <img src="img/carte-dos.png" alt="" class="jeu-carte">#}
{#                <img src="img/carte-dos.png" alt="" class="jeu-carte">#}
{#                <img src="img/carte-dos.png" alt="" class="jeu-carte">#}
{#                <img src="img/carte-dos.png" alt="" class="jeu-carte">#}
{#                <img src="img/carte-dos.png" alt="" class="jeu-carte">#}
            </div>
        </div>
        <div class="jeu-plateau-section" id="jeu-plateau-middle">
            <img src="{{ asset('assets/image/carte/chirurgien.png')}}" alt="carte de personnage représentant un pirate chirurgien" class="jeu-personnage">
            <img src="{{ asset('assets/image/carte/cuisinier.png')}}" alt="carte de personnage représentant un pirate cuisinier" class="jeu-personnage">
            <img src="{{ asset('assets/image/carte/moussaillon.png')}}" alt="carte de personnage représentant un moussaillon" class="jeu-personnage">
            <img src="{{ asset('assets/image/carte/charpentier.png')}}" alt="carte de personnage représentant un pirate charpentier" class="jeu-personnage">
            <img src="{{ asset('assets/image/carte/canonnier.png')}}" alt="carte de personnage représentant un pirate canonnier" class="jeu-personnage">
            <img src="{{ asset('assets/image/carte/timonier.png')}}" alt="carte de personnage représentant un timonier" class="jeu-personnage">
            <img src="{{ asset('assets/image/carte/maitre_equipage.png')}}" alt="carte de personnage représentant un maître d'équipage" class="jeu-personnage">
        </div>


        <div class="jeu-plateau-section" id="jeu-plateau-bottom">
            <div class="jeu-main" id="jeu-main-joueur">
                {% for card in moi.handCards %}
                  <img class="jeu-carte" src="{{ asset('assets/image/carte/'~cards[card].picture) }}">
                        <span>
                                 <input type="radio" name="carte_secret" value="{{ card }}"
                                       style="display: none"
                                         class="choixSecret">
                       </span>
                {% endfor %}
{#                <img src="img/carte-dos.png" alt="" class="jeu-carte">#}
{#                <img src="img/carte-dos.png" alt="" class="jeu-carte">#}
{#                <img src="img/carte-dos.png" alt="" class="jeu-carte">#}
{#                <img src="img/carte-dos.png" alt="" class="jeu-carte">#}
{#                <img src="img/carte-dos.png" alt="" class="jeu-carte">#}
{#                <img src="img/carte-dos.png" alt="" class="jeu-carte">#}
            </div>
            <div id="jeu-commandes">
                <div id="jeu-boutons">
                    <a class="button" id="jeu-bouton-valider" style="display: none" >Valider l'action</a>
                    <button class="button" id="jeu-bouton-fin">Fin du tour</button>
                </div>
                <div id="jeu-actions-joueur">
                    <a  class="jeu-action-lien btn_action" id="secret">
                        <img src="{{ asset('assets/image/carte/secret.png')}}" alt="" class="jeu-action">
                    </a>
                    <a  class="jeu-action-lien btn_action" id="depot">
                        <img src="{{ asset('assets/image/carte/depot.png')}}" alt="" class="jeu-action">
                    </a>
                    <a class="jeu-action-lien btn_action" id="echange">
                        <img src="{{ asset('assets/image/carte/echange.png')}}" alt="" class="jeu-action">
                    </a>
                    <a class="jeu-action-lien btn_action" id="offre">
                        <img src="{{ asset('assets/image/carte/offre.png')}}" alt="" class="jeu-action">
                    </a>
                </div>
            </div>
        </div>
</section>



