{% extends 'base.html.twig' %}

{% block body %}

    <section id="plateau-jeu">
        {{ render(controller('App\\Controller\\GameController::refreshPlateauGame', {game:game.id})) }}
    </section>


{% endblock %}

{% block title %}

{% endblock %}

{% block javascripts %}
    <script>
        let boucle
        $(document).ready(function(){
            boucle = setInterval(refreshGame, 3000);
        })
        $(document).on('click', '#jeu-bouton-fin', function() {
            var event = 'clicked';
            console.log(event);
            $.ajax({
                url: "{{ path('change_tour', {game: game.id}) }}",
                data: 'event=' + event ,
                method: 'POST',
                success: function(data){
                    if(data == true){
                        $('.jeu-action-lien a').attr('disabled', 'disabled');
                        boucle = setInterval(refreshGame, 3000);
                    }
                },
                error: function (){
                    console.log('Il y a un problème')
                }
            })
        })
        function refreshGame() {
            $.ajax({
                url: "{{ path('get_tour', {game: game.id}) }}",
                success: function(data) {
                    console.log(data)
                    if (data == false) {
                        $('.jeu-info-txt').html('Tour de votre adversaire')
                    } else {
                        $('.jeu-info-txt').html('C\'est mon tour...')
                        //mettre à jour le plateau, dès que je récupère true
                        clearInterval(boucle)
                    }
                },
                error: function(){
                }
            })
        }
        let action
        $(document).on('click', '#secret', function(){
            console.log('secret')
            action = 'secret' //mémorise l'action en cours
            $('.choixSecret').show()
            $('#jeu-bouton-valider').show()
        })
        $(document).on('click', '#jeu-bouton-valider', function(){
            switch (action) {
                case 'secret':
                    donneesAction = {
                        action: 'secret',
                        carte: $('input[name="carte_secret"]:checked').val()
                    }
                    break;
                case 'depot':
                    break;
                case 'offre':
                    break;
                case 'echange':
                    break;
            }
            $.ajax({
                url: "{{ path('action_game', {game: game.id}) }}",
                data: donneesAction,
                method: 'POST',
                success: function(data) {
                    if (data == true) {
                        $('#plateau-jeu').load("{{ path('refresh_plateau_game', {game:game.id}) }}")
                        boucle = setInterval(refreshGame, 3000);
                    }
                },
                error: function(){
                }
            })
        })
    </script>
{% endblock %}